@import "tailwindcss";

body {
  background-color: #0a0a0a;
  color: #eaeaea;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.02em;
}
a {
  transition: color 0.3s ease;
}

a[href*="zentrixinnovate"] {
  text-shadow: 0 0 6px rgba(123, 92, 255, 0.6);
}


* {
  scrollbar-width: thin;
  scrollbar-color: #7b5cff #0a0a0a;
}

/* Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7b5cff, #9a85ff);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9a85ff, #b9a9ff);
}

::-webkit-scrollbar {
  width: 6px;
  opacity: 0;
  transition: opacity 0.3s;
}

body:hover ::-webkit-scrollbar {
  opacity: 1;
}